*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

.body{
    background-color: #fff;
    
}


.container{
    font-size: 2rem;
    background-color: #fff;
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.container > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.container > form > input{
    padding: .5rem;
    font-size: 1.2rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 22%;
}

#todos > div{
    margin: 1rem 0 ;
    display: flex;
    align-items: center;

}

.container > form > button{
    font-size: 1.2rem;
    padding: .5rem .8rem;
    border: 1px solid #aaa;
    border-radius: 5px;
}

#todos > div > button{
    padding: .5rem .8rem;
    margin-left: auto;
    font-size: 1.7rem;
    border-radius: 5px;
    border: 1px solid #aaa;
}

#todos > div > input{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}